*
{
  margin : 0;
  padding : 0;
}

header
{
  background-image: url('IMG_3072.jpg');
  Height 100vh;
  background-size: cover;
  background-postiion: center;
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li
{
  display: line-block;
}

.main-nav li
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family = "Roboto", sans-serif;
  font-size = 15px;
}